/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 	 
*= require font-awesome
 *= require_tree .
 *= require_self

 */
 @import "dashboard/dashboard";
 #nav-text-custom span {
    color: #E2DFD2;
  }
  #navbar-container,
  #aside-toolbar {
    background-color: #2F2E44;
  }
  #logo_path {
    fill: #E2DFD2;
  }
  #nav-icons {
    color: #E2DFD2;
  }
  #menu-arrow {
    color: #E2DFD2;
  }
  #sidemenu-text span {
    color: #788DB4;
    &:hover {
      color: #736CC7;
    }
  }
  .has-arrow::after {
    color: #736CC7;
  }
  #brand-text {
    position: absolute;
    top: -3px;
    left: 36px;
    padding: 0;
    color: #E2DFD2;
    font-size: 18px;
  }
  #cart-icon-round {
    background-color: rgba(246, 74, 145, 0.4);
  }
  #cart-icon {
    color: #F64A91;
  }
  #graph-bar-round {
    background-color: rgba(115, 108, 199, 0.4);
  }
  #graph-bar-icon {
    color: #736CC7;
  }
  .row a,
  .mCSB_container a {
    color: rgb(97, 113, 130);
  }
  
  
  
  
  
  
  
  
  
  
